<%- include('./partials/header') %>

<h1 class="title-home">Flight Tracker</h1>
<p class="landing-text">Welcome to your personalized flight itinerary tracking app!</p>

<%- include('./partials/footer') %>